# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

### The above ignores all files without an extension (e.g. executables, makefiles)

# Ignore compilation output
*.o
*.so
*.so.*
*.a

# Ignore analysis output
*.root
*.pdf
*.png

# Ignore git stuff
*.swp

# Ignore everything in build and lib
build/*
lib/*

